<h1>About</h1>
<p><img src="/images/family.png" alt="Me and my crew" /><br>
<em>Me and my crew</em></p>

<p>I love my wife and kids. They’re amazing people and so much fun to be around — my crew for life.</p>

<p>If I'm not with them I'm usually running in the mountains or dabbling in software development.</p>